<footer class="container-fluid section" id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"><a class="footer-brand" href="/">
                    <!--      site logo in the footer-->
                    <img src="images/logo.png" alt="site logo" style="height:60px;width: 60px;visibility: inherit" />
                    <!--      site name-->
                    <span>Study</span>Con</a>

            </div>
            <div class="col-md-4">

                <!--       newsletter form-->
                <form action="" class="text-center" id="newsletter-form">
                    <input name="email" type="text" id="email" placeholder="Please Register with us for More Details">
                    <input name="newsletter-submit" type="submit" id="newsletter-submit" class="btn btn-primary" value="Register">
                </form>
                <!--        end newsletter-->

            </div>
            <div class="col-md-4 copyright">
                <p>© 2017 StudyCon - StudyCon.com </b> All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>