<footer class="container-fluid section" id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"><a class="footer-brand" href="#">
                    <!--      site logo in the footer-->
                    <img src="images/footer-logo.png" alt="" />
                    <!--      site name-->
                    <span>You</span>Need</a>

            </div>
            <div class="col-md-4">

                <!--       newsletter form-->
                <form action="" class="text-center" id="newsletter-form">
                    <input name="newsletter" type="text" id="newsletter" placeholder="Please subscribe to our newsletter">
                    <input name="newsletter-submit" type="submit" id="newsletter-submit" class="btn btn-primary" value="Subscribe">
                </form>
                <!--        end newsletter-->

            </div>
            <div class="col-md-4 copyright">
                <p>©2017 by freethemeszone.com</p>
                <p><a href="http://freethemeszone.com">free html template by freethemeszone.com</a></p>
            </div>
        </div>
    </div>
</footer>