<footer class="container-fluid section" id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <a class="footer-brand" href="/">
                    <!--      site logo in the footer-->
                    <img src="images/logo.png" alt="site logo" style="height:60px;width: 60px;visibility: inherit"/>

                    <!--      site name-->
                    <span>Study</span>Con</a>
                </a>
            </div>
            <div class="col-md-4">
                <!--       newsletter form-->
                <form  method="post" action="/register/Add_User"  class="text-center" id="newsletter-form">

                    <h4>Please Register for More Details</h4>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="email" required  onchange="CheckUser()">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="password" required>

                    <button type="submit" class="sub-btn2">Submit</button>
                </form>
                <!--        end newsletter-->

            </div>
            <div class="col-md-4">


            </div>


        <div class="col-md-4 copyright">
            <p>© 2017 StudyCon - StudyCon.com </b> All rights reserved.</p>
        </div>
        </div>
    </div>
</footer>


<!--	         end modal-->
<script src="javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="javascripts/portfolio.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/jquery.waypoints.js"></script>
<script src="javascripts/main.js" type="text/javascript"></script>
