<body>
<form method="post" action="post-contact">
   name <input id="name" type="text" name="name">
    add<input id="age" type="text" name="age">
    <button type="submit">Send data</button>
</form>
</body>
