<!doctype html>
<html>

<% include partials/header.ejs %>
<body>


<!-----------------------------------------the homepage navigation-->


<!-----------------------------------------end homepage navigation-->

<!-----------------------------------------the hero area or the big title area-->

 <% for(let i = 0; i < HomeBanner.length; i++){ %>

                  <% } %>
   <%  for(let i = 1; i <= HomeBanner.length; i++){ %>
<% } %>


<section class="container-fluid text-center section" id="heroarea">
    <div class="slider" id="main-slider"><!-- outermost container element -->
        <div class="slider-wrapper"><!-- innermost wrapper element -->
            <img src="images/aleksandra-boguslawska-595.jpg" alt="First" class="slide" /><!-- slides -->
            <img src="images/bob-canning-58962.jpg" alt="Second" class="slide" />
            <img src="images/ales-krivec-1881.jpg" alt="Third" class="slide" />
        </div>
    </div>
    <script>
        (function() {

            function Slideshow( element ) {
                this.el = document.querySelector( element );
                this.init();
            }

            Slideshow.prototype = {
                init: function() {
                    this.wrapper = this.el.querySelector( ".slider-wrapper" );
                    this.slides = this.el.querySelectorAll( ".slide" );
                    this.previous = this.el.querySelector( ".slider-previous" );
                    this.next = this.el.querySelector( ".slider-next" );
                    this.index = 0;
                    this.total = this.slides.length;
                    this.timer = null;

                    this.action();
                    this.stopStart();
                },
                _slideTo: function( slide ) {
                    var currentSlide = this.slides[slide];
                    currentSlide.style.opacity = 1;

                    for( var i = 0; i < this.slides.length; i++ ) {
                        var slide = this.slides[i];
                        if( slide !== currentSlide ) {
                            slide.style.opacity = 0;
                        }
                    }
                },
                action: function() {
                    var self = this;
                    self.timer = setInterval(function() {
                        self.index++;
                        if( self.index == self.slides.length ) {
                            self.index = 0;
                        }
                        self._slideTo( self.index );

                    }, 3000);
                },
                stopStart: function() {
                    var self = this;
                    self.el.addEventListener( "mouseover", function() {
                        clearInterval( self.timer );
                        self.timer = null;

                    }, false);
                    self.el.addEventListener( "mouseout", function() {
                        self.action();

                    }, false);
                }


            };

            document.addEventListener( "DOMContentLoaded", function() {

                var slider = new Slideshow( "#main-slider" );

            });


        })();
    </script>




</section>

<!-----------------------------------------end hero area-->


<!-----------------------------------------features section-->

<section id="services" class="container section text-center">
    <div class="row">
        <%
        if(locals.Consultancy)
            for(var i = 0; i < Consultancy.length; i++){
            %>

        <div class="col-md-4">
            <div class="service">

                <!--      customize the icon go to fontawesome website to find the complete list of icons-->
                <img src="/images/Consultancy_Flag/<%= Consultancy[i].flage_image %>" style="height: 50px;width: 50px" />

                <!--       end icon-->

                <h3 class="underlined">
                    <!--        customize the column heading-->
                    <%= Consultancy[i].country_name %>
                    <!--        end heading-->
                </h3>
                <p>
                    <b>Requirenment</b></br>
                    <!--        customize the column text-->
                    <%= Consultancy[i].requirenment %>
                    <!--        end column text-->
                </p>
            </div>
        </div>
<% if (i > 3){
    %><%
}
} %>


    </div>
</section>

<!-----------------------------------end features section-->

<!-----------------------------------blog section-->

<section class="section container-fluid" id="blog">
    <div class="section-title text-center text-uppercase">
        <h2 class="underlined">from the blog</h2>
    </div>
    <div class="container">
        <div class="row">

            <!--     begin article-->
            <div class="col-md-4 article"><img src="images/ales-krivec-188743.jpg" class="img-responsive" alt="">
                <div class="article-caption">
                    <ul class="meta list-unstyled list-inline text-uppercase">

                        <!--           customize the blog categories list change the # with the destination link and web design with category name ( if you want to add more category name just copy and paste between <a ....</a> and change what you want )-->
                        <li><a href="#">web design</a> | <a href="AdminMoreDetails">photoshop</a></li>
                        <!--            end category listing-->
                        <!--           customize the date-->
                        <li>12 - 05 - 2017</li>
                        <!--            end the date-->
                    </ul>
                    <h2>
                        <!--          post title-->
                        first thing first
                        <!--          end post title-->
                    </h2>
                    <p>
                        <!--          post content-->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                        <!--          end post content -->
                    </p>

                    <!--          post destination link when you click the read more button ( change the # with the destination page link )-->
                    <p><a href="/MoreDetails" class="more-link btn text-uppercase">read more</a></p>
                    <!--          end post link/-->
                </div>
            </div>
            <!--      end article-->

            <!--     begin article-->
            <div class="col-md-4 article"><img src="images/chi-n-ph-m-223833.jpg" class="img-responsive" alt="">
                <div class="article-caption">
                    <ul class="meta list-unstyled list-inline text-uppercase">

                        <!--           customize the blog categories list change the # with the destination link and web design with category name ( if you want to add more category name just copy and paste between <a ....</a> and change what you want )-->
                        <li><a href="#">wordpress</a></li>
                        <!--            end category listing-->
                        <!--           customize the date-->
                        <li>12 - 05 - 2017</li>
                        <!--            end the date-->
                    </ul>
                    <h2>
                        <!--          post title-->
                        work hard and smart
                        <!--          end post title-->
                    </h2>
                    <p>
                        <!--          post content-->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                        <!--          end post content -->
                    </p>

                    <!--          post destination link when you click the read more button ( change the # with the destination page link )-->
                    <p><a href="AdminMoreDetails" class="more-link btn text-uppercase">read more</a></p>
                    <!--          end post link/-->
                </div>
            </div>
            <!--      end article-->

            <!--     begin article-->
            <div class="col-md-4 article"><img src="images/post.png" class="img-responsive" alt="">
                <div class="article-caption">
                    <ul class="meta list-unstyled list-inline text-uppercase">

                        <!--           customize the blog categories list change the # with the destination link and web design with category name ( if you want to add more category name just copy and paste between <a ....</a> and change what you want )-->
                        <li><a href="#">jQuery</a></li>
                        <!--            end category listing-->
                        <!--           customize the date-->
                        <li>12 - 05 - 2017</li>
                        <!--            end the date-->
                    </ul>
                    <h2>
                        <!--          post title-->
                        the latest trends
                        <!--          end post title-->
                    </h2>
                    <p>
                        <!--          post content-->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                        <!--          end post content -->
                    </p>

                    <!--          post destination link when you click the read more button ( change the # with the destination page link )-->
                    <p><a href="AdminMoreDetails" class="more-link btn text-uppercase">read more</a></p>
                    <!--          end post link/-->
                </div>
            </div>
            <!--      end article-->
        </div>
    </div>
</section>

<!-------------------------------------end blog section-->


<!-------------------------------------begin our team section-->


<section class="section container-fluid text-center" id="works">
    <div class="section-title text-center text-uppercase">
        <h2 class="underlined">our team</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!--       begin team column-->
                <div class="work">
                    <div class="work-img"><img src="images/post.png" class="img-responsive" alt="">
                        <div class="work-title">
                            <h3 class="text-uppercase"><a href="#">
                                    <!--              team member name-->
                                    john do
                                    <!--              end team member name-->
                                </a></h3>
                            <h5>
                                <!--              begin team member position-->
                                CEO of FDDRT
                                <!--              end team member position-->

                            </h5>
                        </div>
                    </div>
                    <div class="work-caption">
                        <div>
                            <p class="underlined">
                                <!--              begin team member description-->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                <!--              end team member description-->
                            </p>
                            <ul class="social-links list-unstyled list-inline">

                                <!--               begin team member social media links, change the # with the facebook, twitter or gplus page link -->
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <!--               end team member social media links-->

                            </ul>
                        </div>
                    </div>
                </div>
                <!--        end team column-->

            </div>
            <div class="col-md-4">
                <div class="work">
                    <div class="work-img"><img src="images/post.png" class="img-responsive" alt="">
                        <div class="work-title">
                            <h3 class="text-uppercase"><a href="#">
                                    <!--              team member name-->
                                    john do
                                    <!--              end team member name-->
                                </a></h3>
                            <h5>
                                <!--              begin team member position-->
                                CEO of FDDRT
                                <!--              end team member position-->
                            </h5>
                        </div>
                    </div>
                    <div class="work-caption">
                        <div>
                            <p class="underlined">
                                <!--              begin team member description-->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                <!--              end team member description-->
                            </p>
                            <ul class="social-links list-unstyled list-inline">
                                <!--               begin team member social media links, change the # with the facebook, twitter or gplus page link -->
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <!--               end team member social media links-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work">
                    <div class="work-img"><img src="images/post.png" class="img-responsive" alt="">
                        <div class="work-title">
                            <h3 class="text-uppercase"><a href="#">
                                    <!--              team member name-->
                                    john do
                                    <!--              end team member name-->
                                </a></h3>
                            <h5>
                                <!--              begin team member position-->
                                CEO of FDDRT
                                <!--              end team member position-->
                            </h5>
                        </div>
                    </div>
                    <div class="work-caption">
                        <div>
                            <p class="underlined">
                                <!--              begin team member description-->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                <!--              end team member description-->
                            </p>
                            <ul class="social-links list-unstyled list-inline">
                                <!--               begin team member social media links, change the # with the facebook, twitter or gplus page link -->
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <!--               end team member social media links-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-----------------------------------------------------end our team section-->


<!-----------------------------------------------------begin portfolio section-->

<section class="section" id="portfolio">
    <div class="container">
        <div class="section-title text-center text-uppercase">
            <h2 class="underlined">our work</h2>
        </div>
        <ul id="filters" class="list-inline">

            <!--     begin portfolio filters-->
            <!--     to add a new filter just duplicate a line from the list bellow and change 'data-filter = ".NEW_CATEGORY"'-->
            <!--     where NEW_CATEGORY is the class and the data-cat of the col-md-3 column bellow-->
            <li><span class="filter active" data-filter="all">All</span></li>
            <li><span class="filter" data-filter=".portfolio">portfolio</span></li>
            <li><span class="filter" data-filter=".design">design</span></li>
            <li><span class="filter" data-filter=".clients">clients</span></li>
            <!--      end filters-->
        </ul>
        <div class="row">
            <div class="col-md-3 col-sm-6 mix portfolio" data-cat="portfolio ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/alex-jones-8205.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal">
                        <span class="fa fa-search-plus"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix clients" data-cat="clients ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/alex-jones-8205.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span> </a></div>
            </div>
            <div class="col-md-3 col-sm-6 mix design" data-cat="design ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/ales-krivec-1881.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span></a></div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio" data-cat="portfolio ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/chi-n-ph-m-223833.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span></a></div>
            </div>

            <div class="col-md-3 col-sm-6 mix portfolio" data-cat="portfolio ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/ales-krivec-434.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span> </a></div>
            </div>
            <div class="col-md-3 col-sm-6 mix clients" data-cat="clients ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/alex-jones-8205.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span></a></div>
            </div>
            <div class="col-md-3 col-sm-6 mix design" data-cat="design ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/alex-knight-192782.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span></a></div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio" data-cat="portfolio ">
                <!--      begin portfolio image (change the image src="image_link" and alt attributes )-->
                <img src="images/ander-burdain-168833.jpg" class="img-responsive" alt="Placeholder image">
                <!--       end image-->
                <div class="works-btn">
                    <!--        the a tag bellow controls the modal window that will be displays ones clicked ( #modal is the modal ID )-->
                    <!--        "#modal" ID is the id for the modal window that you'll find in the page bellow after the footer section-->
                    <a data-toggle="modal" data-target="#modal"> <span class="fa fa-search-plus"></span></a></div>
            </div>
        </div>
    </div>
</section>

<!--              ########################end portfolio section-->


<!--######################################begin contact us-->

<!--to change the reception email address open nd edit the info-->
<div id="ContactDiv">
<section class="section container-fluid" id="contact">
    <div class="section-title text-center text-uppercase">
        <h2 class="underlined">contact us</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--       contact form -- the one thing that you need to customize is the placeholder or the value of the input button(submit button) -->
                <form onsubmit="saveContact()" method="post" name="form1" id="contact-form">
                    <input name="name" type="text" id="name" form="contact-form" placeholder="Your name">
                    <input name="subject" type="text" id="subject" form="contact-form" placeholder="Message subject">
                    <input name="email" required type="email" id="email" form="contact-form" placeholder="Your Email">
                    <textarea name="message" required id="message" form="contact-form"
                              placeholder="Your message"></textarea>
                    <input name="submit" type="submit" class="btn btn-primary" id="submit" formaction="saveContact()" value="submit">

                </form>
                <!--        end contact form-->

                <ul class="info list-unstyled">
                    <!--         the list of contact information under contact form-->
                    <li><strong>phone</strong> :+49 176 56 99 28 43</li>
                    <li><strong>email</strong> : Info@StudyCon.com</li>
                    <li><strong>Address</strong> : Fachhochschule Kiel, Sokratesplatz, Kiel</li>
                    <!--          end list-->
                </ul>
            </div>

            <!--      the map container don't remove it if you want to display the map-->
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2326.383208762723!2d10.178792815365203!3d54.33253470808531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41620151589bf8cb%3A0x67eb759431c88232!2sFachhochschule+Kiel!5e0!3m2!1sen!2sde!4v1515371724843" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--      end map container-->
        </div>
    </div>
</section>
</div>
<!--end contact form-->


<!--######################################begin page footer-->

<% include partials/footer.ejs %>

<!--end footer-->
<!--    works modals-->

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">My best work</h4>
            </div>
            <div class="modal-body"><img class="img-responsive" src="images/moment-1481334217954-c5d87e2a1bc6.jpg"
                                         alt=""/></div>
        </div>
    </div>
</div>
<!--	         end modal-->
<script src="javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="javascripts/portfolio.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/jquery.waypoints.js"></script>
<script src="javascripts/main.js" type="text/javascript"></script>

<!-- ###########################################google map -->
<script type="text/javascript">


    function initMap() {
//		change the uluru variable with the latitude and longitude of the loaction you want to show in the map {lat:somethging,lng:something}
//		you must also enter a google map key in the following script
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<!--you should get a map key from google website and enter it below in place of the A's (aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa)-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOJkrfBTNVS3Zyzzx5Q_GBHKYxNmSvLJY&callback=initMap"></script>
<!-- end goole map -->


<button onclick="document.getElementById('id01').style.display='block'" id="fixedbutton">Chat</button>

<div id="id01" class="modal">

    <form action="/postchat" method="post" class="modal-content animate">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <div id="name-div">
            <input id="username" name="username" autocomplete="off" autofocus placeholder="Enter your Name"/>
            <input id="Email" name="Email"/>
            <button>Submit</button>
        </div>
        <div id="welcome"></div>
        <ul id="messages"></ul>
        <div id="input-div" style="height: 35px">
            <input id="message" name="message" autocomplete="off" placeholder="Type your message here"/>
            <button>Send</button>
        </div>
    </form>
</div>

//Search Results
<div id="body" style="overflow:hidden;align-items:center;">

    <div id="abc">
        <!-- Popup Div Starts Here -->
        <div id="popupContact">
            <!-- Contact Us Form -->

            <h1 style="
        background-color:#FEFFED;
        padding:20px 35px;
        margin:-10px -50px;
        text-align:center;
        border-radius:10px 10px 0 0;
        float: right">
                Google Search
                <img id="close" src="/images/close.png" onclick="div_hide() " style="float: right;margin-left: 50px">
            </h1>
            <form class="form-horizontal row-fluid" method="post" enctype="multipart/form-data"
                  style="
                                                                                      max-width:100%;
                                                                                      min-width:100%;
                                                                                      padding:10px 50px;
                                                                                      border:2px solid gray;
                                                                                      border-radius:10px;
                                                                                      font-family:raleway;
                                                                                      background-color:#fff;

      ">
                <br/><br/><br/><br/>

                <div class="control-group">
                    <label class="control-label"><b>Country Name</b></label>
                    <div class="controls">
                        <div id="SearchResult"></div>
                       <div>hello</div>
                        <div></div>

                              <ul id="filters" class="list-inline">

                                    <!--     begin portfolio filters-->
                                    <!--     to add a new filter just duplicate a line from the list bellow and change 'data-filter = ".NEW_CATEGORY"'-->
                                    <!--     where NEW_CATEGORY is the class and the data-cat of the col-md-3 column bellow-->
                                    <li><span class="filter active" data-filter="all">All</span></li>
                                    <li><span class="filter" data-filter=".portfolio">portfolio</span></li>
                                    <li><span class="filter" data-filter=".design">design</span></li>
                                    <li><span class="filter" data-filter=".clients">clients</span></li>
                                    <!--      end filters-->
                                </ul>
                             </div>

                    </div>
                </div>

            </form>
        </div>
        <!-- Popup Div Ends Here -->
    </div>
</div>

<script>
  /*  function UserSearch() {
        let keyword = $('#keyword').val();
        alert(keyword);
        $.ajax({
            type: 'POST',
            url: "http://localhost:3000/search",
            data: {"keyword": keyword},
            dataType: 'json',
            success: (data) => {
                let i, html;
                html = '<ul>';
                for (i = 0; i < data.length; i++) {
                    html += "<li>" + data[i]._id + '</li>' + '</br><li>' + data[i]. + '</li>';
                }
                html += '<ul>';
                $("#SearchResult").html(html);
            }
        });
        /* $.ajax({
             type: 'GET',
             url: 'http://localhost:3000/search',
             // data: {"keyword": keyword},
             dataType: 'json',
         }).done(function (data) {
             alert("done" + data);
     /* data.forEach(function (data) {
          $(".messages").append("<li>" + data.Consultancy._id + "</li>");

      });


 });
        document.getElementById('abc').style.display = "block";
    }
*/
    function div_hide() {
        document.getElementById('abc').style.display = "none";
    }


</script>

<div class="msg_box" style="left: 0px">
    <div class="msg_head">Live Chat</div>
    <div class="contentArea" style="display: none">
        <div class="formArea">
            <div class="title">Please fill out this form</div>
            <form class="inputFields">
                <div class="inputContainer">
                    <input class="nameInput" type="text" maxlength="20" pattern="^[a-zA-Z ]{3,}" placeholder=" * Name" required />
                </div>
                <div class="inputContainer">
                    <input class="emailInput" type="email" placeholder=" * Email" required />
                </div>
                <div class="inputContainer">
                    <input class="phoneInput" type="text" pattern="[0-9\(\)\-\+ ]{8,15}" title="Enter a valid Phone Number" placeholder=" * Phone Number" required />
                </div>
                <input type="submit" class="submitBtn">
            </form>
        </div>
        <div class="chatArea" style="display: none">
            <div class="messages">
                <div class="msg_push_old"></div>
                <div class="msg_push_new"></div>
            </div>
            <div class='typing'></div>
            <input class="inputMessage" rows="1" placeholder="Type here..."></input>
        </div>
    </div>
</div>
<<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/routes/client.js"></script>
</body>
</html>
