<!doctype html>
<html>

<% include partials/header.ejs %>
<body>
<section class="container-fluid">
    <div class="container">
        <div id="login-form">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="signin" id="signin">
                        <h3 class="text-center c-white">Sign In</h3>
                        <form method="post" action="/signin/UserLogin"  id="signin-form" class="signin-form">

                            <div class="col-sm-6">

                                <div class="form-group">
                                    <div class="username">
                                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>

                                        <input type="email" id="email" name="email" placeholder="email" required>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6">

                                <div class="form-group">
                                    <div class="username">
                                        <input type="password" id="password" name="password" placeholder="Password"
                                               required>
                                        <i class="fa fa-unlock-alt fa-lg fa-fw" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <button class="signin-btn" type="submit" >Sign in</button>
                            <p class="text-center p-t-10 c-white">Forgot your password?</p>
                            <div class="flexy" style="margin-top: 50px;margin-bottom: 20%">
                                <button class="create-new" type="submit"><a href="/register">Create a new Account</a>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<% include partials/footer.ejs %>

<script>


</script>
<!--end footer-->
<!--    works modals-->

<!--	         end modal-->
<script src="javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="javascripts/portfolio.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/jquery.waypoints.js"></script>
<script src="javascripts/main.js" type="text/javascript"></script>

</html>