</div>
</div><!--/.container-->
</div><!--/.wrapper-->

<div class="footer" >
    <div class="container" >


        <b class="copyright">&copy; 2017 Admin - StudyCon.com </b> All rights reserved.
    </div>
</div>
<script src="/admindata/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/admindata/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/admindata/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type='text/javascript' src='script.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>


<script src="/admindata/scripts/datatables/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('.datatable-1').dataTable();
        $('.dataTables_paginate').addClass("btn-group datatable-pagination");
        $('.dataTables_paginate > a').wrapInner('<span />');
        $('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
        $('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
    } );

    $(document).ready(function() {
        $("#event_start").datepicker();
        $("#event_end").datepicker();
        $("add_seed").click(function() {

            var event_start = $("#event_start").val();
            var event_end = $("#event_end").val();
            if (event_start === "" || event_end === "") {
                alert("Please select start and end dates.");
            } else {
                confirm("Pls confirm that the event starts " + selected + " on " + event_start + " and ends on " + event_end + "?");
            }
        });
    });
</script>


<script type="text/javascript" src="/admindata/wp-content/themes/piha/js/top-bar.js" ></script>
<script type="text/javascript" src="/admindata/wp-content/themes/piha/js/bsa-ads.js" ></script>
<!--Dynamically creates analytics markup-->
</body>