<% console.log("header"); %>

<!--SIDE HEADER MENU OF Admin Side-->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar" style="width:120%;margin-left:-30px;">
                    <ul class="widget widget-menu unstyled">
                        <li><a href="/Admin/AdminAddEvent"><i class="menu-icon icon-pencil"></i>Add Event </a></li>
                        <li><a href="/Admin/AdminHomeBanner"><i class="menu-icon icon-user"></i>Home Banner Change</a></li>
                        <li><a href="/Admin/AdminUserProfile"><i class="menu-icon icon-user"></i>User Profile</a></li>
                        <li><a href=""><i class="menu-icon icon-inbox"></i>Inbox <b class="label orange pull-right">
                                </b> </a></li>
                    </ul>

                    <ul class="widget widget-menu unstyled">

                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#seedid">
                                <i class="menu-icon icon-leaf"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                Consultancy
                            </a>
                            <ul id="seedid" class="collapse unstyled">
                                <li>
                                    <a href="/Admin/AdminConsultancy">
                                        <i class="menu-icon icon-leaf"></i>
                                        Add Consultancy Details
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#Fertilizer1">
                                <i class="menu-icon icon-leaf"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                Language
                            </a>
                            <ul id="Fertilizer1" class="collapse unstyled">

                                <li>
                                    <a href="/Admin/AdminLanguage">
                                        <i class="menu-icon icon-leaf"></i>
                                        Add Language detail
                                    </a>
                                </li>
                            </ul>
                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#Tools1">
                                <i class="menu-icon icon-leaf"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                Call Center
                            </a>
                            <ul id="Tools1" class="collapse unstyled">
                                <li>
                                    <a href="/Admin/AdminCallCenter">
                                        <i class="menu-icon icon-leaf"></i>
                                        Add Call Center Detail
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#Medicine1">
                                <i class="menu-icon icon-leaf"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                Pilot Training
                            </a>
                            <ul id="Medicine1" class="collapse unstyled">
                                <li>
                                    <a href="/Admin/AdminPilotTraining">
                                        <i class="menu-icon icon-leaf"></i>
                                        Add Pilot Training Detail
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                     <ul class="widget widget-menu unstyled">
                         <li>
                            <a href="/Admin/AdminContactView">
                                <i class="menu-icon icon-leaf"></i>
                                View Contact Support
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/AdminLogout">
                                <i class="menu-icon icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                </div><!--/.sidebar-->

            </div><!--/.span3-->
